[Unit]
Description=StatCollector

[Service]
Environment="NET_IF=vx0"
Environment="BIRD_SOCKETS=/run/bird-globepeer-ipv4.ctl,/run/bird-globepeer-ipv6.ctl"
WorkingDirectory=/home/labadm/mbeyer/data
ExecStart=/home/labadm/mbeyer/da-tools/venv/bin/python /home/labadm/mbeyer/da-tools/statCollector/main.py

[Install]
WantedBy=multi-user.target

